<div class="container d-flex flex-wrap justify-content-between">
  <div class="row d-flex justify-content-around">
    <% if current_user.role == 'client'%>
      <div class="col pl-2 mx-auto">
    <% else %>  
      <div class="col-8 pl-2 mx-auto">
    <% end %>
      <img class="card-img-top mx-auto" style="width:200px; display: block;" src="/label.jpeg" alt="Card image cap">
      <div class="card-body">
        <h1>Title: <%= @task.title %></h1>
        <p>Description: <%= @task.description%></p>
        <p>Rate: <%= @task.rate%></p>
        <p>Deadline: <%= @task.deadline%></p>
        <% if current_user.role == 'client' %>
          <p>Client:  <%= @client.username %></p>
        <% else %>
          <p>Client: <%= link_to @client.username, client_path(@client), class:"p-2 text-info" %></p>
        <% end %>
        <%= link_to 'Edit', edit_task_path,  class:"btn btn-outline-info" %>
        <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-info" %>
      </div>
    </div>

    <% if current_user.role == 'tasker'%>
      <div class="col-4 mx-auto">
        <h2>Adding new offer</h2>
        <%= render partial: "offers/form", locals: {task: @task}%>
      </div>
    <%end %>
  </div>

  <div class="row d-flex justify-content-start mx-2">
    <div id= "offers">
      <% if @task.offers.present? %>
        <h1>Offers</h1> 
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tasker</th>
              <th scope="col">Rate</th>
              <th scope="col">Deadline</th>
              <th scope="col">Message</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @task.offers, tasker: @tasker, client: @client, task: @task  %>
          </tbody>
        </table>
      <%end %>
    </div>
  </div>
</div>
