<div class="container">
    <h1>Taskers</h1>
    <div class="d-flex flex-wrap">


    <% @taskers.each do |tasker|  %>
        <div class="card mb-5 mx-3" style="width: 22rem;">
            <img class="card-img-top mx-3" src="..." alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title text-center"><%= tasker.username %></h5>
                <p class="card-text">Score: <%= tasker.score%></p>
                <p class="card-text"><span class="text-limited"><%= tasker.about%></span></p>
                <p class="card-text">Skills: </p>
                <ul class="card-text">
                    <% tasker.skills.each do |skill|%>
                        <li><%= skill %></li>
                    <% end %>
                </ul>
                <%= link_to "More about tasker", tasker, class:"btn btn-info btn-color" %>
            </div>
        </div>
    <% end %>
</div>
</div>