<% if current_user.role == 'client'%>
  <tr>
    <td><%= link_to @tasker.username, tasker_path(@tasker), class:"p-2 text-info" %></td>
    <td><%= offer.rate %></td>
    <td><%= offer.deadline %></td>
    <td><%= offer.message %></td>
    <td><%= link_to 'Accept', tasks_path, class:"btn btn-sm btn-info" %></td>
  </tr>
<% else %>
  <tr>
    <td><%=  @tasker.username %></td>
    <td><%= offer.rate %></td>
    <td><%= offer.deadline %>e</td>
    <td><%= offer.message %></td>
  </tr>
<%end %>